<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Login</title>
    <script src="tailwind.js"></script>
    <script src="vue.global.js"></script>
</head>
<body>
<div id="app">
    <div class="min-h-screen flex flex-col items-center justify-center p-4 bg-gray-100">
        <div class="flex w-full max-w-5xl bg-red-500 justify-end">
            <img src="bg.png" class="object-contain h-48 -mt-48"/>
        </div>
        
        <div class="flex flex-col w-full max-w-3xl bg-white rounded-lg shadow-md p-6 gap-3">
            <h1 class="text-3xl">BCC Auth Mock</h1>
            <div class="grid grid-cols-2 gap-3">
                
                <!-- Organization Selection -->
                <div>
                    <label class="block text-sm font-medium text-gray-700" for="organization">Choose Organization</label>
                    <select
                            @change="onOrganizationChange"
                            class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                            id="organization"
                            size="12"
                            v-model="selectedOrganizationId"
                    >
                        <option :key="organization.name" :value="organization.name" v-for="organization in organizations">
                            {{ organization.name }}
                        </option>
                    </select>
                </div>

                <!-- Role Selection -->
                <div>
                    <label class="block text-sm font-medium text-gray-700" for="role">Choose Role</label>
                    <select
                            class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                            id="role"
                            size="12"
                            v-model="selectedRoleId"
                    >
                        <option :key="role.name" :value="role.name" v-for="role in selectedOrganization.roles">
                            {{ role.name }}
                        </option>
                    </select>
                </div>

            </div>
            <form @submit.prevent="handleLogin" class="flex flex-col">
                <label class="block text-sm font-medium text-gray-700" for="email">Email</label>
                <div class="mb-4 flex gap-2 pt-2">
                    <input
                            class="px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                            id="email"
                            required
                            v-model="email"
                    />
                </div>
                <button
                        class="py-2 px-4 text-white bg-indigo-600 rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                        type="submit"
                >
                    Log in
                </button>
            </form>
        </div>
    </div>
</div>
<script>
    const {createApp, ref, computed, watch} = Vue

    createApp({
        setup() {
            const email = ref('')
            
            const organizations = ref([])
            const selectedOrganizationId = ref()
            const selectedGruppeId = ref()
            const selectedRoleId = ref('Administrator')
            
            const selectedOrganization = computed(() => {
                return organizations.value.find(f => f.name === selectedOrganizationId.value) || {roles: []}
            })
            const selectedRole = computed(() => {
                return selectedOrganization.value.roles.find(r => r.name === selectedRoleId.value)
            })
            
            fetch("/roles").then(async r => {
                organizations.value = await r.json()
                selectedOrganizationId.value = organizations.value[0].value
                selectedRoleId.value = selectedOrganization.value.roles.length > 0 ? selectedOrganization.value.roles[0].name : ''
            })

            function onOrganizationChange() {
                selectedRoleId.value = selectedOrganization.value.roles.length > 0 ? selectedOrganization.value.roles[0].name : ''
            }

            watch(selectedRole, role => email.value = role?.email)

            async function handleLogin() {
                let idx = location.href.toLowerCase().indexOf("?returnurl=");
                let returnUrl = ""
                if (idx > 0) {
                    returnUrl = location.href.substring(idx + 11);
                }

                let body = {
                    email: email.value,
                    returnUrl: returnUrl,
                };

                const response = await fetch("/spa/login",
                    {
                        method: "POST",
                        headers: {"content-type": "application/json"},
                        credentials: "include",
                        body: JSON.stringify(body)
                    });

                if (response.status === 400 || response.status === 200) {
                    const resp = await response.json();
                    if (resp.error) {
                        // err.textContent = resp.error;
                        // err.classList.remove("hide");
                    } else {
                        window.location = resp.validReturnUrl;
                    }

                }
            }
            
            return {
                email,
                organizations,
                selectedOrganization,
                selectedRole,
                
                selectedOrganizationId,
                selectedGruppeId,
                selectedRoleId,
                
                onOrganizationChange,

                handleLogin,
                
            }
        }
    }).mount('#app')
</script>
</body>
</html>
