<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>BCC OIDC Mock - Logout</title>
    <script src="tailwind.js"></script>
    <script src="vue.global.js"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    
</head>
<body>
<div id="app" class="collapse">
    <div class="min-h-screen flex flex-col items-center justify-center bg-gray-100 p-4">
        <img class="object-contain h-48 -mt-48" src="bg.png"/>

        <div v-if="!isLoggedOut"
             class="flex flex-col items-center w-full max-w-lg bg-white rounded-lg shadow-md p-6 gap-3">
            <h1 class="text-lg font-bold">Logout</h1>
            <p>Do you want to log out of BCC Auth Mock</p>

            <form @submit.prevent="logout">
                <div class="flex justify-center items-center">
                    <button
                        class="py-2 px-4 text-white bg-indigo-600 rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                    >
                        Logg ut
                    </button>
                </div>
            </form>
        </div>

        <div v-if="isLoggedOut" class="flex flex-col items-center w-full max-w-lg gap-3">
            <h1 class="p-6 w-full max-w-2xl bg-white rounded-lg shadow-md text-lg font-bold flex flex-col">
                Logg ut
                <small>Du er logget ut</small>
            </h1>

            <div>
                Klikk <a :href="postLogoutRedirectUri" class="underline">her</a> for å returnere til applikasjonen.
            </div>

            <div v-if="hackyRedirectBackToApp">
                Klikk <a :href="hackyRedirectBackToApp" class="underline">her</a> for å returnere til applikasjonen.
                <h1 class="text-3xl text-red-500">FIX YO APP!</h1>
                <div>Applikasjonen inkluderer ikke query parameter post_logout_redirect_uri i GET /connect/endsession
                    kallet
                </div>
            </div>

            <iframe v-if="iframeSrc" :src="iframeSrc"></iframe>
        </div>
    </div>
</div>

<script>
    const {createApp, ref} = Vue

    createApp({
        setup() {

            let logoutId = null
            const iframeSrc = ref()
            const isLoggedOut = ref()
            const postLogoutRedirectUri = ref('')
            const hackyRedirectBackToApp = ref()

            let idx = location.href.toLowerCase().indexOf("?logoutid=");

            if (idx > 0) {
                logoutId = location.href.substring(idx + 10);
            }

            async function logout() {
                const response = await fetch("spa/logout?logoutId=" + logoutId,
                    {
                        method: "GET",
                        credentials: "include"
                    });
                if (response.status === 200) {
                    const data = await response.json();
                    if (!data.prompt) {
                        showLoggedOut(data);
                    } else {
                        document.querySelector("#prompt").classList.remove("collapse");
                    }
                }
            }

            function showLoggedOut(data) {
                isLoggedOut.value = true
                if (data.iframeUrl) {
                    iframeSrc.value = data.iframeUrl;
                }
                if (data.postLogoutRedirectUri) {
                    postLogoutRedirectUri.value = data.postLogoutRedirectUri ?? 'https://localhost:15000'
                }
            }

            //logout()

            return {
                logoutId,
                isLoggedOut,
                logout,
                iframeSrc,
                postLogoutRedirectUri,
                hackyRedirectBackToApp
            }
        }
    }).mount('#app')

    document.getElementById("app").classList.remove("collapse");
</script>
</body>
</html>